<div class="container well-lg">

  <h2> Create a New Workout </h2>

  <form action="/workouts" method="post">
    <div class="form-group modal-sm">
      <label> Workout Name: </label>
      <input type="text" class="form-control" name="name" id="name">
    </div>

    <div class="form-group modal-sm">
      <label>Back:</label>
      <input type="text" class="form-control" name="back" id="back">
    </div>

    <div class="form-group modal-sm">
      <label>Legs:</label>
      <input type="text" class="form-control" name="legs" id="legs">
    </div>

    <div class="form-group modal-sm">
      <label>Hamstrings:</label>
      <input type="text" class="form-control" name="hamstrings" id="hamstrings">
    </div>

    <div class="form-group modal-sm">
      <label>Chest:</label>
      <input type="text" class="form-control" name="chest" id="chest">
    </div>

    <div class="form-group modal-sm">
      <label>Shoulders:</label>
      <input type="text" class="form-control" name="shoulders" id="shoulders">
    </div>

    <div class="form-group modal-sm">
      <label>Triceps:</label>
      <input type="text" class="form-control" name="triceps" id="triceps">
    </div>

    <div class="form-group modal-sm">
      <label>Biceps:</label>
      <input type="text" class="form-control" name="biceps" id="biceps">
    </div>

    <div class="form-group modal-sm">
      <label>Core:</label>
      <input type="text" class="form-control" name="core" id="core">
    </div>

    <div class="form-group modal-sm">
      <label>Finisher:</label>
      <input type="text" class="form-control" name="finisher" id="finisher">
    </div>

    <input class="btn btn-primary" type="submit" value="Create">
    <br>
    <a href="/workouts" class="btn btn-primary"> Back to Workouts </a>
  </form>
</div>
