<div class="container well-lg">

  <h1>Login</h1>

  <form action="/login" method="post">
    <div class="form-group">
      <p><input type="text" class="form-control modal-sm" name="username" placeholder="Username:"></p>
      <p><input type="password" class="form-control modal-sm" name="password" placeholder="Password:"></p>
    </div>
    <input class="btn btn-primary" type="submit" value="Login">
  </form>
  <br>
</div>
